body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 32px;
  color: rgba(177, 177, 177);
}

section {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 20px;

  .inputs_and_send_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .inputs {
      display: flex;
      flex-direction: row;
      gap: 10px;
      border: 1px solid transparent;

      .input_name {
        height: 24px;
        background-color: rgba(136, 113, 0);
        border: none;
        border-radius: 4px;

        &:focus {
          outline: 1.5px solid orange;
          outline-offset: 1px;
        }

        &::placeholder {
          color: rgba(0, 0, 0);
          padding-left: 3px;
        }
      }

      .input_message {
        height: 24px;
        width: 300px;
        background-color: rgba(136, 113, 0);
        border: none;
        border-radius: 4px;

        &:focus {
          outline: 1.5px solid orange;
          outline-offset: 1px;
        }

        &::placeholder {
          color: rgba(0, 0, 0);
          padding-left: 3px;
        }
      }
    }

    .send_btn {
      background-color: rgba(68, 171, 0);
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: rgba(68, 171, 0, 0.8);
      }
    }
  }

  .message_box {
    display: flex;
    flex-direction: column;
    background-color: rgb(28, 28, 28);
    border-radius: 8px;

    .chat_name {
      color: rgb(13, 130, 0);
      font-size: 18px;
      font-weight: 700;
      margin: 5px;
    }

    .chat_message {
      color: rgb(171, 171, 171);
      font-size: 16px;
      margin: 5px;
    }

    .date_and_delete_btn {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .chat_date {
        color: rgb(175, 175, 175);
        font-size: 14px;
        margin: 5px;
      }

      .delete_btn {
        height: 18px;
        width: 18px;
        background-color: rgba(149, 0, 0, 1);
        font-size: 14px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin: 5px;
        padding: 1.5px 5px 5px 4px;

        &:hover {
          background-color: rgba(149, 0, 0, 0.7);
        }
      }
    }
  }
}
